.memory-card {
  border-radius: 0.5rem;
  padding: 0.15rem;
  background-color: rgb(64, 116, 171);
  cursor: pointer;
  transition:
    transform 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
    box-shadow: 7px 8px 10px -4px rgba(0, 0, 0, 0.27);
  }
}

.card-image-container {
  display: flex;
  background-color: white;
  aspect-ratio: 1 / 1;
  width: 100%;
}

.card-content {
  border: 0.15rem solid rgb(70, 126, 185);
  border-radius: 0.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: linear-gradient(
    135deg,
    rgb(64, 116, 171),
    rgb(87, 145, 207),
    rgb(64, 116, 171)
  );
  overflow: hidden;
}

.card-title {
  text-transform: capitalize;
  display: flex;
  align-items: center;
  height: 4rem;

  font-weight: bold;
  color: white;
}
