.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: rgb(49, 89, 131);
  color: white;
}

h1 {
  font-size: 2rem;
}

.score-board {
  display: flex;
  flex-direction: column;
  text-align: right;
}
